@model IEnumerable<MyAZHRM.Models.ProductsModel>

@{
    ViewBag.Title = "My Products";
}

@Styles.Render("~/CustomCSS/datatables.min.css")

<style>

    .tblStyleRight {
        text-align: right !important;
        vertical-align: middle !important;
    }

    .tblStyleLeft {
        text-align: left !important;
        vertical-align: middle !important;
    }

    .tblStyleCenter {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .table {
        color: #676a6c !important;
    }

    .tblCellStyleCenter {
        text-align: center !important;
        vertical-align: middle !important;
        width: 30% !important;
        display: inline-block !important;
    }

    .tblCellStyleRight {
        text-align: right !important;
        vertical-align: middle !important;
        width: 60% !important;
        display: inline-block !important;
    }

    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>

@*Common For All Pages*@
@*<div class="row">
    <div class="col-lg-12">*@
<div class="ibox" style="width:100%!important;">
    <div class="ibox-title">
        <h2 class="font-bold">My Products</h2>
    </div>
    <div class="ibox-content">



        <div class="table-responsive">
            <table id="dtTblProducts" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="tblStyleCenter"> # </th>
                        <th class="tblStyleCenter">Status</th>
                        <th class="tblStyleCenter">Product Name</th>
                        <th class="tblStyleCenter">SKU</th>
                        <th class="tblStyleCenter">Created Date</th>
                        <th class="tblStyleCenter">Retail Price</th>
                        <th class="tblStyleCenter">Sale Price</th>
                        <th class="tblStyleCenter">Lowest Price</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="tblStyleCenter counterCell"> </td>
                            <td class="tblStyleCenter">
                                @*@Html.DisplayFor(modelItem => item.Status)*@
                                @*<input type="hidden" value="@item.Id" id="input+@item.Id" />*@
                                <div class="switch">
                                    <div class="onoffswitch">
                                        @if (item.Status == "Active")
                                        {
                                            <input type="checkbox" class="onoffswitch-checkbox" id="@item.Id" value="@item.Id" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="onoffswitch-checkbox" id="@item.Id" value="@item.Id">
                                        }
                                        <label class="onoffswitch-label" for="@item.Id">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="tblStyleCenter"> @Html.DisplayFor(modelItem => item.ProductName) </td>

                            <td class="tblStyleLeft"> @Html.DisplayFor(modelItem => item.SKU) </td>
                            <td>

                                <div class="tblCellStyleCenter" style="width:100% !important">
                                    @item.CreatedDate.ToString("dd-MMM-yyyy")
                                </div>
                            </td>
                            <td>
                                <div class="tblCellStyleRight">
                                    @Convert.ToDecimal(item.RetailPrice).ToString("#,##0.00")
                                </div>

                            </td>

                            <td>
                                <div class="tblCellStyleRight">
                                    @Convert.ToDecimal(item.SalePrice).ToString("#,##0.00")
                                </div>

                            </td>
                            <td>
                                <div class="tblCellStyleRight">
                                    @Convert.ToDecimal(item.LowestPrice).ToString("#,##0.00")
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <a href="~/Products/AddProduct" class="btn btn-primary block full-width m-b"> Add Product </a>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/CustomJS/jquery-3.1.1.min.js"></script>
<script src="~/CustomJS/datatables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTblProducts').DataTable({
            pageLength: 10,
            lengthMenu: [10, 20, 30, 40, 50],
            responsive: true,
            language: { emptyTable: "No data found." }
        });
    });


    $('#dtTblProducts input[type=checkbox]').change(function () {

        var id = $(this).val();
        var isChecked = 0;
        if (id != null) {
            if ($('#' + id).is(':checked')) {
                isChecked = 1;
            }

            $.ajax({
                url: "/Products/UpdateStatus",
                type: "POST",
                dataType: "text",
                data: { Id: id, isChecked: isChecked },
                success: function (data) {
                    if (data == "Success") {
                        //var successMsg = "Status Successfully Updated";
                        //swal("Success", successMsg, "success");
                    }
                    else {
                        //var erMsg = data;
                        //swal("Failed", erMsg, "error");
                    }
                },
                error: function (data) {
                    //var erMsg = data;
                    //swal("Failed", erMsg, "error");
                }
            });
        }
        
    });

</script>


