@{Layout = null;}
@model MyAZHRM.Models.LocalPasswordModel

<head>

    <title>Change Password</title>
    @Styles.Render("~/CustomCSS/bootstrap.min.css", "~/CustomCSS/font-awesome.css", "~/CustomCSS/toastr.min.css", "~/CustomCSS/jquery.gritter.css", "~/CustomCSS/animate.css", "~/CustomCSS/style.css", "~/CustomCSS/AutocompleteCSS.css")

    <style>
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-right: 5px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }

        .input-validation-error {
            border: 1px solid red;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> 

</head>
<body style="background-color: #f3f3f4;">


    <div class="passwordBox animated fadeInDown">
        @*<div class="middle-box">*@


        @using (Html.BeginForm("Manage", "Account"))
        {
            @*@Html.ValidationSummary()*@
            @Html.AntiForgeryToken()
            <br />

            <div class="loginscreen animated fadeInDown" style="background-color:white; padding-left: 20px; padding-right: 20px; ">
                <fieldset>
                    <h2 class="text-center font-bold">Change Password</h2>
                    <div class="alert-danger" id="errout" style="padding:10px; border-radius:5px; display:none;">
                        @Html.ValidationMessage("exception", new { @class = "alert-danger", style = "width:100%; padding:10px;", @id = "valException" })
                    </div>
                    <div class="alert-success" id="outboxsuccess" style="padding:10px; border-radius:5px; display: none;">
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.NewPassword)*@
                        @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
                        <span class="password-showhide">
                            <span class="fa fa-fw fa-eye field-icon show-password"></span>
                            <span class="fa fa-fw fa-eye-slash field-icon hide-password" style="display:none"></span>
                        </span>
                        <small>@Html.ValidationMessageFor(m => m.NewPassword, "", new { style = "color: #950202; text-align: left;", @id = "valMsgPassword" })</small>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.ConfirmPassword)*@
                        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Confirm Password" })
                        <span class="password-showhide">
                            <span class="fa fa-fw fa-eye field-icon show-password"></span>
                            <span class="fa fa-fw fa-eye-slash field-icon hide-password" style="display:none"></span>
                        </span>
                        <small>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { style = "color: #950202; text-align: left;", @id = "valMsgConfPassword" })</small>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            @*<input class="btn btn-primary block full-width m-b" type="submit" value="Submit" id="subchpw" />*@
                            <input id="btnEdit" class="btn btn-primary full-width m-b" type="button" value="Submit" style="width: 120px;" />
                        </div>
                        <div class="col-6">
                            <input type="button" class="btn btn-danger block full-width m-b" value="Reset" id="cancelpw" />
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const userId = urlParams.get('id')
        const Exptime = urlParams.get('T')

        $.ajax({
            url: "/Account/CheckValidity",
            type: "POST",
            dataType: "json",
            data: { UserId: userId, Exptime: Exptime },
            success: function (data) {
                if(data.returnMsg != "")
                {
                    var erMsg = data.returnMsg;
                    swal("Failed", erMsg, "error");
                    setTimeout(function () {
                        window.location.replace("/");
                    }, 2000);
                }
            }

        });
        return false;
    });


    $("#btnEdit").click(function (event) 
    {
        const password = $("#NewPassword").val();

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const userId = urlParams.get('id')
        const Exptime = urlParams.get('T')

        if (validatePassword() && validateConfPassword()) {
            $.ajax({
                url: "/Account/ResetPassword",
                type: "POST",
                dataType: "json",
                data: { Password: password, UserId: userId, Exptime: Exptime },
                success: function (data) {
                    if (data.returnMsg == "success") {
                        var successMsg = "Password Changed Successfully";
                        swal("Success", successMsg, "success");
                        setTimeout(function () {
                            window.location.replace("/");
                        }, 3000);
                    }
                    else {
                        var erMsg = data.returnMsg;
                        swal("Failed", erMsg, "error");
                        setTimeout(function () {
                            window.location.replace("/");
                        }, 2000);
                    }
                },
                error: function (data) {
                    var erMsg = data.returnMsg;
                    swal("Failed", erMsg, "error");
                    setTimeout(function () {
                        window.location.replace("/");
                    }, 2000);
                }
            })
        }
        return false;
    });



    //showhide password
    $(".show-password, .hide-password").on('click', function () {
        var passwordId = $(this).parents('div:first').find('input').attr('id');
        if ($(this).hasClass('show-password')) {
            $("#" + passwordId).attr("type", "text");
            $(this).parent().find(".show-password").hide();
            $(this).parent().find(".hide-password").show();
        } else {
            $("#" + passwordId).attr("type", "password");
            $(this).parent().find(".hide-password").hide();
            $(this).parent().find(".show-password").show();
        }
    });

    $("#NewPassword").on("keyup", function () {
        validatePassword();
    });

    $("#ConfirmPassword").on("keyup", function () {
        validateConfPassword();
    });

    function validatePassword() {
        var password = $("#NewPassword").val();
        var passwordCtrl = $("#NewPassword");
        var all_pass = true;

        var uppercase = password.match(/[A-Z]/);
        var regExp = password.match(/[_\-!\";,#.@@:]/);
        var number = password.match(/[0-9]/);

        passwordCtrl.parent().removeClass('has-error');
        passwordCtrl.parent().removeClass('has-success');
        passwordCtrl.parent().find("small").remove();

        if (password == "") {
            passwordCtrl.parent().addClass('has-error');
            passwordCtrl.parent().append('<small class="help-block" style="color: red;">Password is required</small>');
            all_pass = false;
        }
            //Length check
        else if (password.length < 6 || password.length > 20) {
            passwordCtrl.parent().addClass('has-error');
            passwordCtrl.parent().append('<small class="help-block" style="color: red;">Password Must be Between 6 and 20 Characters</small>');
            all_pass = false;
        }
            //Include a number
        else if (!number) {
            passwordCtrl.parent().addClass('has-error');
            passwordCtrl.parent().append('<small class="help-block" style="color: red;">Passwords Must Contain Numbers</small>');
            all_pass = false;
        }
            //upper lowercase 
        else if (!uppercase) {
            passwordCtrl.parent().addClass('has-error');
            passwordCtrl.parent().append('<small class="help-block" style="color: red;">Passwords Must Contain Upper Case Letters</small>');
            all_pass = false;
        }
            //Special chr
        else if (!regExp) {
            passwordCtrl.parent().addClass('has-error');
            passwordCtrl.parent().append('<small class="help-block" style="color: red;">Passwords Must Contain Special Characters</small>');
            all_pass = false;
        }

        if (all_pass) {
            passwordCtrl.parent().addClass('has-success');
            passwordCtrl.prop('disabled', false);
        }
        return all_pass
    }

    function validateConfPassword() {
        all_pass = true;
        var password = $("#NewPassword").val();
        var confPassword = $("#ConfirmPassword").val();
        var confPwCtrl = $("#ConfirmPassword");

        confPwCtrl.parent().removeClass('has-error');
        confPwCtrl.parent().removeClass('has-success');
        confPwCtrl.parent().find("small").remove();

        if (confPassword.length == 0) {
            confPwCtrl.parent().addClass('has-error');
            confPwCtrl.parent().append('<small class="help-block" style="color: red;">Confirm Password is required</small>');
            all_pass = false;
        }
        else if (password != confPassword && password != '') {
            confPwCtrl.parent().addClass('has-error');
            confPwCtrl.parent().append('<small class="help-block" style="color: red;">Password and confirmation password do not match</small>');
            all_pass = false;
        }
        else {
            confPwCtrl.parent().addClass('has-success');
            confPwCtrl.prop('disabled', false);
        }

        return all_pass;
    }

    $("#cancelpw").click(function () {
        $("#NewPassword").val("");
        $("#ConfirmPassword").val("");
        $("#valMsgConfPassword").html("");
        $("#valMsgPassword").html("");

        var passwordCtrl = $("#NewPassword");
        passwordCtrl.parent().find("small").remove();
        passwordCtrl.parent().removeClass('has-error');
        passwordCtrl.parent().removeClass('has-success');

        var confPwCtrl = $("#ConfirmPassword");
        confPwCtrl.parent().find("small").remove();
        confPwCtrl.parent().removeClass('has-error');
        confPwCtrl.parent().removeClass('has-success');

    });
</script>