@{ Layout = null; }

@model MyAZHRM.Models.LoginModel

@*2023/Nov/17*@
@*@{
    ViewBag.Title = "Log in";
}*@

@*2023/Nov/17*@
<head>
    <title>Log in</title>

    @Styles.Render("~/CustomCSS/bootstrap.min.css", "~/CustomCSS/font-awesome.css", "~/CustomCSS/toastr.min.css", "~/CustomCSS/jquery.gritter.css", "~/CustomCSS/animate.css", "~/CustomCSS/style.css")
    
    @*<hgroup class="title">
            <h1>@ViewBag.Title.</h1>
    </hgroup>*@

    <style>
        .input-validation-error 
        {
            border: 1px solid red;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-right: 5px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
    
</head>

<body class="gray-bg">
    <div class="middle-box loginscreen animated fadeInDown">
        
        <div class="ibox-content">

            @*2023/Nov/17*@
            <h2 class="font-bold" style="text-align:center"> Welcome </h2>

            @*<p
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>*@

            @*2023/Nov/17*@
            <p style="text-align:center">Enter your email and password to log in.</p>

            <div class="alert-danger" id="errout" style="padding:10px; border-radius:5px; display:none;">
                @Html.ValidationMessage("exception", new { @class = "alert-danger", style = "width:100%; padding:10px;", @id = "valException" })
            </div>
            <div id="space" style="display:none;">&nbsp;</div>
            @*2023/11/14*@
            @*login-username and password*@
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@

                <div class="form-group">
                    @Html.TextBoxFor(m => m.logEmail, new { @class = "form-control", placeholder = "Email", maxlength = 100 })
                    <small>@Html.ValidationMessageFor(m => m.logEmail, "", new { style = "color: red;" })</small> 
                </div>

                <div class="form-group">

                    @*2023/Dec/12 - Remember Me*@
                    @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", minlength = 6, maxlength = 20})*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", minlength = 6, maxlength = 20, value = Model.Password })
                                        
                    <small>@Html.ValidationMessageFor(m => m.Password, "", new { style = "color: red;" })</small> 
                    <span class="password-showhide">
                        <span class="fa fa-fw fa-eye field-icon show-password"></span>
                        <span class="fa fa-fw fa-eye-slash field-icon hide-password" style="display:none"></span>
                    </span>
                </div>
                
                // 2023/Dec/12 - Remember Me 
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div> 

                @*2023/Nov/17*@
                <div class="form-group">
                    <p class="text-muted left">@Html.ActionLink("Forgot Password ?", "forgetpassword")</p>
                </div>

                @*2023/Nov/17*@
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Sign in</button>

                @*2023/Nov/17*@
                @*<p class="text-muted text-center"><small>@Html.ActionLink("Forgot Password ?", "forgetpassword") </small></p>*@

                @*2023/Nov/17*@
                <div class="form-group">
                    <div class="row">
                    </div>
                </div>

                @*2023/Nov/17*@
                <p class="text-muted text-center" style="font-weight:600;">Don't have an account ?</p>

                @*2023/Nov/17*@
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-info block full-width m-b" })

            }
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

    if (window.history.replaceState)
    {
        window.history.replaceState(null, null, window.location.href);
    }

    var errbox = $("#valException").html().length;
    if (errbox > 0) {
        $("#errout").show();
        $("#space").show();
        $("#errout").delay(4000).fadeOut(3000);
        $("#space").delay(4000).fadeOut(3000);
    }
    else {
        $("#errout").hide();
        $("#space").hide();
    }

    //showhide password
    $(".show-password, .hide-password").on('click', function () {
        var passwordId = $(this).parents('div:first').find('input').attr('id');
        if ($(this).hasClass('show-password')) {
            $("#" + passwordId).attr("type", "text");
            $(this).parent().find(".show-password").hide();
            $(this).parent().find(".hide-password").show();
        } else {
            $("#" + passwordId).attr("type", "password");
            $(this).parent().find(".hide-password").hide();
            $(this).parent().find(".show-password").show();
        }
    });

    $("#logEmail").on("keyup", function () {
        validateEmail();
    });

    $("#Password").on("keyup", function () {
        validatePassword();
    });

    function validateEmail() {
        var emailCtrl = $("#logEmail");
        var email = $("#logEmail").val();
        var pass = true;

        emailCtrl.parent().removeClass('has-error');
        emailCtrl.parent().removeClass('has-success');
        emailCtrl.parent().find("small").remove();

        if (email.length == 0) {
            emailCtrl.parent().addClass('has-error');
            emailCtrl.parent().append('<small class="help-block" style="color: red;">Email is required</small>');
            pass = false;
        }
        else if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
            emailCtrl.parent().addClass('has-success');
            emailCtrl.prop('disabled', false);
        }
        else {
            emailCtrl.parent().addClass('has-error');
            emailCtrl.parent().append('<small class="help-block" style="color: red;">Invalid Email</small>');
            pass = false;
        }
    }

    function validatePassword() {
        var isValid = false;
        var pwCntrl = $("#Password");
        var pwVal = pwCntrl.val();

        pwCntrl.parent().removeClass('has-error');
        pwCntrl.parent().removeClass('has-success');
        pwCntrl.parent().find("small").remove();

        if (pwVal == '') {
            pwCntrl.parent().addClass('has-error');
            pwCntrl.parent().append('<small class="help-block" style="color: red;">Password is required</small>');
            isValid = false;
        }
        else {
            pwCntrl.parent().addClass('has-success');
            pwCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }

</script>
@*<section class="social" id="socialLoginForm">
      <h2>Use another service to log in.</h2>
       @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@*@section Scripts 
{
   @Scripts.Render("~/bundles/jqueryval")
}*@
