@model MyAZHRM.Models.ProductsModel

@{
    ViewBag.Title = "Add Products";
}

<style>

    .card-style {
        background-color: #73C6B6;
    }

    .card-border {
        border: 1px solid #73C6B6;
    }

    .btnStyle {
        width: 120px;
    }

    .btnStyle2 {
        width: 100%;
    }

    .inmodal .modal-header {
        padding: 20px 10px;
    }

    .form-group {
        width: 100%;
        padding: 20px 20px 10px 30px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<div id="divMain" class="ibox" style="width:100%!important;">
    <div class="ibox-title">
        <h2 class="font-bold">Add Products</h2>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.ProductName)
                @Html.TextBoxFor(m => m.ProductName, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "Product Name" })
                <small>@Html.ValidationMessageFor(m => m.ProductName, "", new { style = "color: #950202; text-align: left; width:100%", @id = "valMsgName" })</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SKU)
                @Html.TextBoxFor(m => m.SKU, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "SKU" })
                <small>@Html.ValidationMessageFor(m => m.SKU, "", new { style = "color: #950202; text-align: left; width:100%", @id = "valMsgName" })</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RetailPrice)
                @Html.TextBoxFor(m => m.RetailPrice, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "Product Name" })
                <small>@Html.ValidationMessageFor(m => m.RetailPrice, "", new { style = "color: #950202; text-align: left; width:100%", @id = "valMsgName" })</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SalePrice);
                @Html.TextBoxFor(m => m.SalePrice, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "Product Name" })
                <small>@Html.ValidationMessageFor(m => m.SalePrice, "", new { style = "color: #950202; text-align: left; width:100%", @id = "valMsgName" })</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LowestPrice);
                @Html.TextBoxFor(m => m.LowestPrice, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "Product Name" })
                <small>@Html.ValidationMessageFor(m => m.LowestPrice, "", new { style = "color: #950202; text-align: left; width:100%", @id = "valMsgName" })</small>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary block full-width m-b" id="btnAddProd"> Add Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $("#ProductName").on("keyup", function () {
        validateProdName();
    });

    $("#SKU").on("keyup", function () {
        validateSKU();
    });

    $("#RetailPrice").on("keyup", function () {
        validateRetPrice();
    });

    $("#SalePrice").on("keyup", function () {
        validateSalePrice();
    });

    $("#LowestPrice").on("keyup", function () {
        validateLowPrice();
    });

    $('#btnAddProd').click(function () {
        var isValidProd = validateProdName();
        var isValidSKU = validateSKU();
        var isValidRet = validateRetPrice();
        var isValidSale = validateSalePrice();
        var isValidLow = validateLowPrice();

        if (isValidProd && isValidSKU && isValidRet && isValidSale && isValidLow) {
            const prodVal = $("#ProductName").val();
            const skuVal = $("#SKU").val();
            const retVal = $("#RetailPrice").val();
            const saledVal = $("#SalePrice").val();
            const lowVal = $("#LowestPrice").val();

            $.ajax({
                url: "/Products/AddNewProduct",
                type: "POST",
                dataType: "text",
                data: { prodVal: prodVal, skuVal: skuVal, retVal: retVal, saledVal: saledVal, lowVal: lowVal },
                success: function (data) {
                    if (data == "Success") {
                        var successMsg = "Product Successfully Added";
                        swal("Success", successMsg, "success");
                    }
                    else {
                        var erMsg = data;
                        swal("Failed", erMsg, "error");
                    }
                },
                error: function (data) {
                    var erMsg = data;
                    swal("Failed", erMsg, "error");
                }
            });
        }
    });

    function validateProdName() {
        var isValid = false;
        var prodCntrl = $("#ProductName");
        var prodVal = prodCntrl.val();

        prodCntrl.parent().removeClass('has-error');
        prodCntrl.parent().removeClass('has-success');
        prodCntrl.parent().find("small").remove();

        if (prodVal == '') {
            prodCntrl.parent().addClass('has-error');
            prodCntrl.parent().append('<small class="help-block" style="color: red;">Product Name is required</small>');
            isValid = false;
        }
        else {
            prodCntrl.parent().addClass('has-success');
            prodCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }

    function validateSKU() {
        var isValid = false;
        var skuCntrl = $("#SKU");
        var skuVal = skuCntrl.val();

        skuCntrl.parent().removeClass('has-error');
        skuCntrl.parent().removeClass('has-success');
        skuCntrl.parent().find("small").remove();

        if (skuVal == '') {
            skuCntrl.parent().addClass('has-error');
            skuCntrl.parent().append('<small class="help-block" style="color: red;">SKU is required</small>');
            isValid = false;
        }
        else {
            skuCntrl.parent().addClass('has-success');
            skuCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }

    function validateRetPrice() {
        var isValid = false;
        var retCntrl = $("#RetailPrice");
        var retVal = retCntrl.val();

        retCntrl.parent().removeClass('has-error');
        retCntrl.parent().removeClass('has-success');
        retCntrl.parent().find("small").remove();

        if (retVal == '') {
            retCntrl.parent().addClass('has-error');
            retCntrl.parent().append('<small class="help-block" style="color: red;">Retail Price is required</small>');
            isValid = false;
        }
        else {
            retCntrl.parent().addClass('has-success');
            retCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }

    function validateSalePrice() {
        var isValid = false;
        var saleCntrl = $("#SalePrice");
        var saleVal = saleCntrl.val();

        saleCntrl.parent().removeClass('has-error');
        saleCntrl.parent().removeClass('has-success');
        saleCntrl.parent().find("small").remove();

        if (saleVal == '') {
            saleCntrl.parent().addClass('has-error');
            saleCntrl.parent().append('<small class="help-block" style="color: red;">Sale Price is required</small>');
            isValid = false;
        }
        else {
            saleCntrl.parent().addClass('has-success');
            saleCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }

    function validateLowPrice() {
        var isValid = false;
        var lowCntrl = $("#LowestPrice");
        var lowVal = lowCntrl.val();

        lowCntrl.parent().removeClass('has-error');
        lowCntrl.parent().removeClass('has-success');
        lowCntrl.parent().find("small").remove();

        if (lowVal == '') {
            lowCntrl.parent().addClass('has-error');
            lowCntrl.parent().append('<small class="help-block" style="color: red;">Lowest Price is required</small>');
            isValid = false;
        }
        else {
            lowCntrl.parent().addClass('has-success');
            lowCntrl.prop('disabled', false);
            isValid = true;
        }

        return isValid;
    }
</script>