@model MyAZHRM.Models.CustomerProductModel


      
@using (Html.BeginForm())
{
        
 <div id="divError" class="alert-danger" style="padding:10px; border-radius:5px;"> </div>
 <div id="divSuccess" class="alert-success" style="padding:10px; border-radius:5px;"> </div>
    
 <br />
 @Html.AntiForgeryToken()
       
<fieldset>

    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.CustomerId)
    @Html.HiddenFor(m => m.PackageId)
    @Html.HiddenFor(m => m.ProductId)



    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName)
        @Html.TextBoxFor(m => m.CompanyName, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "Company Name", @disabled = "true", onkeyup="validateCmpName();" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Country)
        @Html.TextBoxFor(m => m.Country, htmlAttributes: new { @class = "form-control", @placeholder = "Country", @disabled = "true" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageName)
        @Html.TextBoxFor(m => m.PackageName, htmlAttributes: new { @class = "form-control", @placeholder = "Package", @disabled = "true" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeCount)
        @*@Html.TextBoxFor(m => m.EmployeeCount, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "No of Employees", @disabled = "true", onkeyup = "validateEmpCount();", @type = "number", @min = "1", @step = "1" })*@
        @Html.TextBoxFor(m => m.EmployeeCount, htmlAttributes: new { @class = "form-control inputDisabled", @placeholder = "No of Employees", @disabled = "true", onkeyup = "validateEmpCount();" })
    </div>

    <div class="form-group">
        <label id="lblMsg" style="color:green; font-weight:bold; display:none;"></label>
    </div>

</fieldset>

    
           
}