<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> CEMEX - @ViewBag.Title </title>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        

        @Styles.Render("~/CustomCSS/bootstrap.min.css", "~/CustomCSS/font-awesome.css", "~/CustomCSS/toastr.min.css", "~/CustomCSS/jquery.gritter.css", "~/CustomCSS/animate.css", "~/CustomCSS/style.css")
    </head>
    <body>
        @if (Session["LoggedUsr"] != null)
        {
            @Html.Hidden("hdfLogUsrName", ((Session["LoggedUsr"] as MyAZHRM.Models.CustomerModel).Name))            
        }
        else
        { 
            @Html.Hidden("hdfLogUsrName", "")
        }

        <script>
            var uname = document.getElementById("hdfLogUsrName").value;
            if (uname == '' || uname == null) {
                window.location.href = "/Account/Login";
            }
        </script>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">

                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <img alt="image" class="rounded-circle" style="border-radius:0%!important; height:100px; width:150px;" src="~/Images/pngwing.png" />
                                <a data-toggle="dropdown" class="dropdown-toggle" href="~/Home/Index">
                                    <span class="block m-t-xs font-bold" id="Uname">                                    
                                        @if (Session["LoggedUsr"] != null)
                                        {
                                            @((Session["LoggedUsr"] as MyAZHRM.Models.CustomerModel).Name); 
                                        }                                                                       
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li id="bbtn-prod">
                            <a href="~/Products/MyProducts"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Products</span> </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="~/Home/Index"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li style="padding: 20px">
                                <span class="m-r-sm text-muted welcome-message">WELCOME</span>
                            </li>

                            <li>
                                <a href="~/Account/LogOff">
                                    <i class="fa fa-sign-out"></i> Sign out
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">

                                @RenderSection("featured", required: false)
                                    @RenderBody()

                            </div>
                        </div>

                    </div>
                </div>
                <div class="footer gray-bg">
                    <div style="text-align:center">
                        <p>&copy; @DateTime.Now.Year - CEMEX HRM</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/CustomJS/jquery-3.1.1.min.js"></script>
        <script src="~/CustomJS/popper.min.js"></script>
        <script src="~/CustomJS/bootstrap.js"></script>
        <script src="~/CustomJS/jquery.metisMenu.js"></script>
        <script src="~/CustomJS/jquery.slimscroll.min.js"></script>
        <script src="~/CustomJS/jquery.flot.js"></script>
        <script src="~/CustomJS/jquery.flot.tooltip.min.js"></script>
        <script src="~/CustomJS/jquery.flot.spline.js"></script>
        <script src="~/CustomJS/jquery.flot.resize.js"></script>
        <script src="~/CustomJS/jquery.flot.pie.js"></script>
        <script src="~/CustomJS/jquery.peity.min.js"></script>
        <script src="~/CustomJS/peity-demo.js"></script>
        <script src="~/CustomJS/inspinia.js"></script>
        <script src="~/CustomJS/pace.min.js"></script>
        <script src="~/CustomJS/jquery-ui.min.js"></script>
        <script src="~/CustomJS/jquery.gritter.min.js"></script>
        <script src="~/CustomJS/jquery.sparkline.min.js"></script>
        <script src="~/CustomJS/sparkline-demo.js"></script>
        <script src="~/CustomJS/Chart.min.js"></script>
        <script src="~/CustomJS/toastr.min.js"></script>
        <script src="~/CustomJS/datatables.min.js"></script>

        <script>

            var url = document.location.href;
            var array = url.split("/");
            for (var i = 0; i < array.length; i++) 
            {
                if (array[i] == "Profile")
                {
                    $("#bbtn-prof").addClass("active");
                }
                else if (array[i] == "Products")
                {
                    $("#bbtn-prod").addClass("active");
                }
                else if (array[i] == "Payment")
                {
                    $("#bbtn-pay").addClass("active");
                }
            }
        </script>
    </body>
</html>























































